* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

.container {
  overflow: hidden;
}

.navbar .stripe {
  background-color: #000;
  height: 20px;
}

.navbar .content {
  height: 70px;
  line-height: 70px
}

.navbar .content div {
  font-family: 'Helvetica';
  font-weight: 400;
  display: inline-block;
  padding: 0;
  margin: 0 0 0 30px;
}

.navbar .content div h2,
.navbar .content ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.navbar .content ul li {
  float: left;
}

.filter,
.vehicles {
  min-height: 400px;
  margin: 0;
  padding: 20px 0 0 20px;
}

.filter {
  float: left;
  width: 30%;
  background-color: #CCCCCC;
}

.filter .activeFilter a{
  font-weight: bold;
  color: #56403B;
  text-decoration: none;
}

.vehicles {
  float: right;
  width: 70%;
  background-color: #BBBBBB;
}
