* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  overflow: hidden;
}

.margin-left-20 {
  margin-left: 20px;
}

.navbar .stripe {
  background-color: #000;
  height: 20px;
}

.navbar .btn {
  margin: 21px 21px 0 15px;
}

.navbar .content {
  line-height: 70px;
}

.navbar .content div {
  font-family: 'Helvetica';
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

.navbar .content h2 {
  font-weight: 400;
}

.navbar .content div h2,
.navbar .content ul {
  padding: 0;
  margin: 0;
}

.navbar .content .nav li {
  float: left;
  list-style: none;
  padding-left: 15px;
}

.navbar .nav {}

.navbar .nav a {
  color: #9B4A0F;
}

.navbar .nav a {
  text-decoration: none;
}

.navbar .nav a:hover {
  text-decoration: underline;
}

/* Vehicle layout */
.vehicles {
  float: right;
  width: 70%;
}
/* END Vehicle layout */

/* Filter layout */
.filter,
.vehicles {
  min-height: 400px;
  margin: 0;
  padding: 20px 20px 0 20px;
}

.filter {
  float: left;
}
/* END Filter layout */

/* Vehicles decoration */
.vehicles .vehicle-item {
  background-color: #ededed;
  height: 80px;
  min-width: 135px;
  padding: 0 20px 0 50px;
  left: 0;
  right: 0;
  position: relative;
}

.vehicles .vehicle-item input[type=button] {
  position: absolute;
  left: 15px;
  top: 30px;
}

.vehicles .vehicle-item .info > div,
.vehicles .vehicle-item .place > div {
  padding-bottom: 10px;
}

.vehicles .vehicle-item .info,
.vehicles .vehicle-item .place {
  margin-top: 15px;
}

.vehicles .vehicle-item .info {
  float: left;
}

.vehicles .vehicle-item .place {
  text-align: right;
  float: right;
}

.vehicles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vehicles ul li {
  padding: 0 0 7px 0;
}

/* Filter decoration */
.filter .activeFilter a {
  font-weight: bold;
  color: #56403B;
  text-decoration: none;
}

.filter a,
.filter ul {
  color: #9B4A0F;
}

.filter a {
  text-decoration: none;
}

.filter a:hover {
  text-decoration: underline;
}

.filter h4 {
  text-transform: uppercase;
  margin: 0px;
  padding: 0px
}

.filter ul {
  list-style: none;
  margin: 0px;
  padding: 7px 0 20px 15px;
}

.filter ul li {
  padding: 0 0 7px 0;
  vertical-align: middle;
}

.filter ul li::before {
  content:"•";
  font-size: 50px;
  vertical-align: middle;
  display: block;
  float: left;
  line-height: 23px;
}

.seach-by-licence input[type=text] {
  width: 200px;
  height: 35px;
  margin: 0 0 30px 35px;
  background-color: #FFF1E7;
  /*background: url(images/search.png) no-repeat scroll 7px 7px;*/
  border: 0px;
  font-size: 16px;
}

.filter-by-level h4,
.filter-by-type h4,
.filter-by-level ul,
.filter-by-type ul {
}


/* Pagination decoration */

.paging-vehicles {

}

.paging-vehicles .page {
  display: inline-block;
  text-align: right;
  line-height: 15px;
}

.paging-vehicles .devider {
  display: inline-block;
  font-size: 38px;
  margin-left: -2px;
}

.paging-vehicles .total {
  display: inline-block;
  font-size: 38px;
  margin-left: -2px;
  color: #A5A5A5;
}

.paging-vehicles .title {
  display: inline-block;
  font-size: 16px;
  margin: 8px 0 0 -5px;
  text-transform: uppercase;
  vertical-align: text-top;
  color: #000;
}

.paging-vehicles .paging-nav {

}

/* END Pagination decoration */

/* Mobile */
@media (max-width: 979px) {
  .filter,
  .vehicles {
    float: none;
    width: 100%;
    min-height: inherit;
    padding: 10px 10px 0 10px;
  }

  .filter-by-level h4,
  .filter-by-type h4,
  .filter-by-level ul,
  .filter-by-type ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
  }

  .filter-by-level ul li,
  .filter-by-type ul li {
    display: inline-block;
    padding: 4px;
  }

  .navbar .content div {
    display: block;
  }

/* ================================== */
  .navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
  }

  .nav-collapse {
    clear: both;
    display: block;
    margin: 0px;
  }

  .collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
  }

  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }

  .collapse.in {
    height: 70px;
  }

/* ========================================== */

  .vehicles .vehicle-item {
    padding: 0 10px 0 40px;
  }

  .vehicles .vehicle-item input[type=button] {
    left: 10px;
    top: 30px;
  }

  .vehicles .vehicle-item .info {
    width: 60%;
  }
}
