<div class="paging-vehicles">
  <div class="page">
    <div ng-bind='page + 1'></div>
    <div ng-bind='limit'></div>
  </div>

  <div class="devider">/</div>

  <div class="total">
    <span ng-bind='totalInParking'></span>
    <div class="title">Vehicles</div>
  </div>

  <div class="paging-nav">
    <a href="" ng-click="onPreviousPage()">
      <div class="" style="width: 30px; float: left">
        <svg viewbox="0 0 100 100">
          <path class="arrow"
                ng-class="{active: prevPageActive}"
                fill='#0081D0'
                transform="translate(0, 40) rotate(90 50 50)"
                d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" />
        </svg>
      </div>
    </a>
    <a href="" ng-click="onNextPage()">
      <div class="" style="width: 30px; float: right">
        <svg viewbox="0 0 100 100">
          <path class="arrow"
                ng-class="{active: nextPageActive}"
                fill='#0081D0'
                transform="rotate(270 50 50)"
                d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" />
        </svg>
      </div>
    </a>
  </div>
</div>
