<aside class="filter">
  <div class="seach-by-licence">
    <input type="text" value="License plate" ng-model='filterModelLicense.licensce'/>
  </div>
  <div class="filter-by-level">
    <h4>Level:</h4>
    <ul>
      <li ng-repeat='level in parking'>
        <toggle-filter-link
                ng-class="{'activeFilter':($parent.level == $index && filterModelLevel != '')}"
                filter-by='{{level.id}}'
                filter-label='{{level.name}}'
                ng-click='filterByLevel(level.id); $parent.level = $index' /></li>
    </ul>
  </div>
  <div class="filter-by-type">
    <h4>Type:</h4>
    <ul>
      <li ng-repeat='type in types'>
        <toggle-filter-link
                ng-class="{'activeFilter':($parent.type == $index && filterModelType != '')}"
                filter-by='{{type}}'
                filter-label='{{type}}'
                ng-click='filterByType(type); $parent.type = $index;' /></li>
    </ul>
  </div>
</aside>
<div class="vehicles">
  <p>
    Parking has: levels: {{levels}} and slots {{slotsAvailable}}
  </p>
  <div>
    <vehicles-paging page="currentPage"
                     size="pageSize"
                     limit="totalPages()"/>
  </div>
  <br/>
  <div>
    Vehicles:
    <ul>
      <li ng-repeat='item in vehicles | filter: filterModelLevel
                                      | filter: filterModelType
                                      | filter: filterModelLicense
                                      | startFrom: currentPage*pageSize
                                      | limitTo: pageSize'>
        <vehicle-item licensce='{{item.licensce}}'
                      type='{{item.type}}'
                      level='{{parking[item.level].name}}'
                      on-park-out-handler="goOutOfParking(item)"
                      park-out="{{item.level == undefined}}"/>

      </li>
    </ul>
  </div>
</div>
