<p>Create new vehicle</p>

<ul>
  <li>
    <label for="">
      Licensce: <input type="text" name="name" value="" ng-model='levels'>
    </label>
  </li>
  <li>
    <label for="">
      Type:
      <select class="" name="" ng-model='vType' ng-options='type for type in types'>
      </select>
    </label>
  </li>
  <li>
    <label for="">
      Level: <input type="text" name="name" value="" ng-model='places'>
    </label>
  </li>
  <li>
    <label for="">
      Place number: <input type="text" name="name" value="" ng-model='levels'>
    </label>
  </li>
</ul>

<input type="button" name="name" value="Add New Vehicle"
        class="btn"
        ng-click="pushToParking(item)"/>
