<div class="settings-parking">
  <h3>Parking settings</h3>

  <ul>
    <li class="i-group">
      <div class="label">
          <label for="">Set levels:</label>
      </div>
      <div class="control">
          <input type="text" name="name" value="" ng-model='levels' only-numbers>
      </div>

    </li>
    <li class="i-group">
      <div class="label">
        <label for="">Set places per level:</label>
      </div>
      <div class="control">
        <input type="text" name="name" value="" ng-model='places' only-numbers>
      </div>
    </li>
  </ul>
</div>
